<!DOCTYPE html>
<html>
<head>
  <title>My Checklist</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Checklist</a>
  </nav>
  <div class="container mt-5">
    <%- body %>
  </div>
</body>
</html>
